.entire-content {
    text-align: center;

}


.label {
    color: white;
    font-size: 35px;
}


.container {
 
    top: 20px;
    margin-top: 10rem ;
    align-items: center;
    justify-content: center;
  }


  
.container button {
    background-color: #0dcaf0;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;

}

.container input {
    font-size: 18px;
    width: 50%;
    margin-left: 25%;
 
}


h1 {
    color: white;
    font-size: 50px;
}

body {
    background-image: url('../src/assets/background-image.jpeg');
    background-size: cover;


}